name: HACS Validation

on:
  push:
  workflow_dispatch:

jobs:
  hacs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: HACS Action
        uses: hacs/action@22.5.0
        with:
          category: plugin
